
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE <!DOCTYPE html>
    <html>
    <head>
        <title>Pagina do aluno</title>
    </head>
    <body>
    <h1>Pagina do aluno</h1>
    <h3>@ViewBag.nota</h3>
    <p>@ViewData["Escola"]</p>
    </body>
    </html>

